[submodule "sourcedata/content-id-to-usage-dandiset-path"]
	path = sourcedata/content-id-to-usage-dandiset-path
	url = https://github.com/dandi-cache/content-id-to-usage-dandiset-path.git
	datalad-url = https://github.com/dandi-cache/content-id-to-usage-dandiset-path.git
	branch = derivatives
